* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameboard-container {
  .gameboard-row {
    display: flex;
    border-bottom: 1px solid #000;

    &:last-child { border-bottom: none; }
    
    .gameboard-square {
      width: 160px;
      height: 160px;
   
      &:nth-child(1), &:nth-child(2) {
        border-right: 1px solid #000;
      }
    }
  }
}